# deps
**/node_modules

# builds
apps/api/dist
apps/cdn/dist
apps/socials/.next
apps/api-assets/.next

# turbo
**/.turbo
**/tsconfig.build.tsbuildinfo

# env
**/.env
**/.env.*
!**/.env.example

# misc
**/coverage
**/*.md
**/.claude
